{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-export-default-from"
  ],
  /* "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["dev-expression"]
    },
    "development": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
        ["flow-runtime", {
          "assert": true,
          "annotate": true
        }]
      ]
    }
  } */
}
